CONFIG_LOCALVERSION="-Hirayuuki-UI5"
# CONFIG_FUSE_BPF is not set
# CONFIG_FAKE_UNAME_5_10 is not set
CONFIG_SDCARD_FS=y
CONFIG_FAKE_UNAME_NONE=y

# SCSC
CONFIG_SCSC_WLAN_MAC_ADDRESS_FILENAME="/efs/wifi/.mac.info"
CONFIG_SCSC_WLAN_MAX_INTERFACES=3
CONFIG_SCSC_AP_INTERFACE_NAME="swlan0"
CONFIG_SCSC_WLBTD=y
CONFIG_SCSC_WRITE_INFO_FILE_WLBTD=y
# CONFIG_SCSC_SMAPPER is not set
# CONFIG_SCSC_QOS is not set
CONFIG_SCSC_FM_TEST=y
# CONFIG_SCSC_ANT is not set
CONFIG_SCSC_WLAN_SAE_PWE=y
CONFIG_SCSC_WLAN_SINGLE_ANTENNA=y
CONFIG_SCSC_WLAN_SILENT_RECOVERY=y
